<html>

	<head>
	
	<title>Deck Burger</title>
		<meta charset="UTF-8"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>
	
	<body>
		<div align="center">
			<div style="max-width: 400px;">
				<br><br><br>
				<h1>Algo deu errado durante o registro de itens :(</h1>
				<h3>Certifique-se de colocar sempre uma foto JPG ou PNG (exceto para bebidas e cervejas)</h3>
			</div>
			<div align="center" class="card-body">
				<a href="/criaritem"><button>Voltar</button></a>
			</div>
		</div>
	</body>
</html>